<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Ninjas</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= 'style.css')}}">
    </head>
    <body>
    <h1>Ninjas are Awesome</h1>
    <p>The ninja, we all know them, we all love them. Born into assassin clans, brought up in secret and dark ways to help them fight their arch-rivals, the samurai. They are the shadow in the night, the peasant warriors, who are hired out to the highest bidder, to do the dirty deeds that the honorable samurai will not do. But what if that was all totally wrong? What if the modern image of the ancient ninja was all based on 20th century comics and fantasy literature? Today you will discover 25 fascinating facts about the real ninja of history where you will learn the truth behind their story. Watch and enjoy as an image of a more accurate and fascinating Japanese warrior emerges.</p>
    </body>
</html>
